html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 99%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "gotham-black";
  src: url("../fonts/gotham-black.ttf"); }

@font-face {
  font-family: "gotham-bold";
  src: url("../fonts/gotham-bold.ttf"); }

@font-face {
  font-family: "gotham-book";
  src: url("../fonts/gotham-book.ttf"); }

.congress-background, .menu-content .menu-list .menu-list-item a, .header-content .header-side.header-side-right .congress-bt, .footer, .hospedagem-content .hospedagem-content-body .hospedagem-content-body-side.hospedagem-content-body-side-right .hospedagem-content-body-side-right-buttons .hospedagem-content-body-side-right-buttons-bt, .interna-content .interna-content-body .interna-content-body-article .signin-bt {
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1f9edc+22,095084+100 */
  background: #1f9edc;
  /* Old browsers */
  background: -moz-linear-gradient(top, #1f9edc 22%, #095084 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #1f9edc 22%, #095084 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #1f9edc 22%, #095084 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f9edc', endColorstr='#095084',GradientType=0 );
  /* IE6-9 */ }
  .congress-background:hover, .menu-content .menu-list .menu-list-item a:hover, .header-content .header-side.header-side-right .congress-bt:hover, .footer:hover, .hospedagem-content .hospedagem-content-body .hospedagem-content-body-side.hospedagem-content-body-side-right .hospedagem-content-body-side-right-buttons .hospedagem-content-body-side-right-buttons-bt:hover, .interna-content .interna-content-body .interna-content-body-article .signin-bt:hover {
    background: #095084; }

html, body {
  height: 100%;
  margin: 0; }

.wrapper {
  min-height: 100%;
  margin-bottom: -106px; }

.footer,
.push {
  min-height: 106px; }

body {
  background-color: #EBEBEC; }

.container-fluid {
  padding: 0; }

.main-content {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  margin-bottom: 20px; }

.percent100 {
  width: 100%;
  display: inline-block; }

.ibdisplay {
  display: inline-block; }

.pagina-interna {
  background-color: white;
  border-radius: 10px; }

.inline-link {
  color: #1b6d85;
  text-decoration: underline; }

.menu-content {
  width: 100%;
  display: inline-block;
  background: none;
  margin-bottom: 0; }
  .menu-content .navbar-collapse {
    padding: 0; }
  .menu-content .menu-list {
    list-style: none;
    display: flex; }
    .menu-content .menu-list .menu-list-item {
      display: inline-flex; }
      .menu-content .menu-list .menu-list-item a {
        font-size: 14px;
        font-family: gotham-bold,serif;
        padding: 10px 14.5px; }
        .menu-content .menu-list .menu-list-item a:hover {
          background: #095084;
          color: white; }
      .menu-content .menu-list .menu-list-item:first-child a {
        border-radius: 0 0 0 10px; }
      .menu-content .menu-list .menu-list-item:last-child a {
        border-radius: 0 0 10px 0; }

.container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
  background: #095084;
  padding: 0;
  border-radius: 0 0 7px 7px;
  margin: 0; }

.navbar-default .navbar-toggle {
  background: white; }

@media screen and (max-width: 768px) {
  .container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
    border-radius: 0; }
  .menu-content .menu-list {
    display: block;
    margin: 0; }
    .menu-content .menu-list .menu-list-item {
      display: inline;
      text-align: center; } }

.header-content {
  margin-top: 11px; }
  .header-content .header-side.header-side-left .logo-content img {
    width: 100%; }
  .header-content .header-side.header-side-left .title-content {
    margin-left: -24px; }
    .header-content .header-side.header-side-left .title-content .title-content-body {
      margin-top: 39px; }
      .header-content .header-side.header-side-left .title-content .title-content-body .title-content-title {
        text-align: center;
        font-family: gotham-bold,serif;
        font-size: 19px;
        text-transform: uppercase;
        line-height: 21px; }
        .header-content .header-side.header-side-left .title-content .title-content-body .title-content-title .title-content-title-main {
          font-family: gotham-bold,serif;
          font-size: 25px;
          text-transform: uppercase;
          margin-top: 13px;
          display: inline-block; }
      .header-content .header-side.header-side-left .title-content .title-content-body .title-content-address {
        font-family: gotham-bold,serif;
        font-size: 11px;
        text-transform: uppercase;
        margin-top: 40px; }
  .header-content .header-side.header-side-right {
    padding-top: 12px; }
    .header-content .header-side.header-side-right .congress-bt {
      border: 0;
      border-radius: 7px;
      font-family: gotham-bold,serif;
      font-size: 14px; }
    .header-content .header-side.header-side-right .newsletter-form-content form .newsletter-form-content-body .main-title {
      font-family: gotham-bold,serif;
      font-size: 19px;
      text-transform: uppercase;
      color: #005895;
      margin-bottom: 7px;
      margin-top: 15px; }
    .header-content .header-side.header-side-right .newsletter-form-content form .newsletter-form-content-body .form-group {
      padding-left: 3px; }
      .header-content .header-side.header-side-right .newsletter-form-content form .newsletter-form-content-body .form-group label {
        display: block;
        font-family: gotham-book,serif;
        font-size: 11px;
        color: #6D6E71;
        text-transform: uppercase;
        padding-left: 3px; }
      .header-content .header-side.header-side-right .newsletter-form-content form .newsletter-form-content-body .form-group .form-control {
        width: 100%;
        max-width: 301px;
        height: 18px;
        margin-bottom: 10px; }
      .header-content .header-side.header-side-right .newsletter-form-content form .newsletter-form-content-body .form-group .submit-bt {
        text-decoration: none;
        color: #fff;
        background: #1f9edc;
        background: -moz-linear-gradient(top, #1697D6 22%, #0C4067 100%);
        background: -webkit-linear-gradient(top, #1697D6 22%, #0C4067 100%);
        background: linear-gradient(to bottom, #1697D6 22%, #0C4067 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f9edc', endColorstr='#095084', GradientType=0 );
        height: 19px;
        padding: 0 7px;
        border: 0;
        margin-left: 8px;
        border-radius: 5px;
        font-family: gotham-black,serif;
        font-size: 12px;
        text-transform: uppercase;
        padding-top: 2px; }

.gallery-content {
  margin-top: 12px;
  margin-bottom: 7px; }
  .gallery-content img {
    width: 100%;
    margin-top: -20%;
    display: initial !important; }
  .gallery-content .carousel-control {
    width: 5%; }
  .gallery-content .icon-prev, .gallery-content .icon-next {
    font-size: 100px;
    line-height: 30px; }
  .gallery-content .carousel-inner > .item {
    max-height: 298px; }

.information-content {
  background-color: white;
  border-radius: 10px;
  padding-top: 5px; }
  .information-content .information-item a:hover, .information-content .information-item a:active, .information-content .information-item a:visited, .information-content .information-item a:link {
    text-decoration: none; }
  .information-content .information-item a:hover .information-desc {
    opacity: 1; }
  .information-content .information-item .information-item-title {
    padding: 44% 0;
    text-align: center;
    color: white;
    font-size: 28px;
    font-family: "gotham-black",serif; }
    .information-content .information-item .information-item-title.one {
      background: url("../../images/info-bg-01.png") center center no-repeat;
      background-size: 100%; }
    .information-content .information-item .information-item-title.two {
      background: url("../../images/info-bg-02.png") center center no-repeat;
      background-size: 100%; }
    .information-content .information-item .information-item-title.three {
      background: url("../../images/info-bg-03.png") center center no-repeat;
      padding: 37% 0;
      background-size: 100%; }
    .information-content .information-item .information-item-title.four {
      background: url("../../images/info-bg-04.png") center center no-repeat;
      background-size: 100%; }
  .information-content .information-item .information-desc {
    font-family: gotham-book,serif;
    font-size: 11px;
    margin-top: 5px;
    line-height: 15px;
    padding-bottom: 20px;
    opacity: 0; }

@media screen and (max-width: 990px) {
  .information-content .information-item .information-item-title {
    font-size: 20px; }
    .information-content .information-item .information-item-title.one {
      background-size: 100%; }
    .information-content .information-item .information-item-title.two {
      background-size: 100%; }
    .information-content .information-item .information-item-title.three {
      padding: 37% 0;
      background-size: 100%; }
    .information-content .information-item .information-item-title.four {
      background-size: 100%; } }

@media screen and (max-width: 768px) {
  .information-content .information-item .information-item-title.one {
    background-size: 70%; }
  .information-content .information-item .information-item-title.two {
    background-size: 70%; }
  .information-content .information-item .information-item-title.three {
    padding: 37% 0;
    background-size: 70%; }
  .information-content .information-item .information-item-title.four {
    background-size: 70%; } }

.footer {
  max-width: 960px;
  margin: 0 auto;
  min-height: 106px;
  border-radius: 10px 10px 0 0; }
  .footer .footer-list-content {
    font-size: 12px;
    font-family: "gotham-book",serif;
    margin-top: 18px; }
    .footer .footer-list-content .footer-item {
      margin-right: 30px; }
      .footer .footer-list-content .footer-item:last-child {
        margin-right: 0; }
      .footer .footer-list-content .footer-item .footer-item-list {
        list-style: none;
        padding-left: 12px; }
        .footer .footer-list-content .footer-item .footer-item-list .footer-item-list-box {
          display: inline-block;
          width: 65px;
          height: 34px;
          background-color: white;
          border-radius: 4px;
          margin-right: 7px; }
          .footer .footer-list-content .footer-item .footer-item-list .footer-item-list-box:last-child {
            margin-right: 0; }
  .footer .social-content {
    text-align: right;
    margin-top: 27px; }
    .footer .social-content img:last-child {
      margin-left: 20px; }

.hospedagem-content {
  margin-top: 13px; }
  .hospedagem-content .hospedagem-content-body {
    padding: 50px 45px;
    padding-right: 0; }
    .hospedagem-content .hospedagem-content-body .hospedagem-content-body-title {
      font-size: 30px;
      font-family: gotham-black,serif;
      text-transform: uppercase;
      margin-bottom: 20px; }
    .hospedagem-content .hospedagem-content-body .hospedagem-content-body-side.hospedagem-content-body-side-left .hospedagem-content-body-side-left-item {
      margin: 0;
      padding: 0; }
      .hospedagem-content .hospedagem-content-body .hospedagem-content-body-side.hospedagem-content-body-side-left .hospedagem-content-body-side-left-item img {
        width: 100%;
        border-radius: 7px; }
      .hospedagem-content .hospedagem-content-body .hospedagem-content-body-side.hospedagem-content-body-side-left .hospedagem-content-body-side-left-item.col-lg-6 {
        padding: 3px; }
        .hospedagem-content .hospedagem-content-body .hospedagem-content-body-side.hospedagem-content-body-side-left .hospedagem-content-body-side-left-item.col-lg-6.jampa {
          margin-top: 5px; }
    .hospedagem-content .hospedagem-content-body .hospedagem-content-body-side.hospedagem-content-body-side-right {
      padding-right: 0; }
      .hospedagem-content .hospedagem-content-body .hospedagem-content-body-side.hospedagem-content-body-side-right .hospedagem-content-body-side-right-text {
        margin-top: 70px; }
        .hospedagem-content .hospedagem-content-body .hospedagem-content-body-side.hospedagem-content-body-side-right .hospedagem-content-body-side-right-text p {
          font-size: 16px;
          font-family: "gotham-book", serif;
          margin-bottom: 20px;
          line-height: 25px; }
      .hospedagem-content .hospedagem-content-body .hospedagem-content-body-side.hospedagem-content-body-side-right .hospedagem-content-body-side-right-buttons {
        display: inline-block; }
        .hospedagem-content .hospedagem-content-body .hospedagem-content-body-side.hospedagem-content-body-side-right .hospedagem-content-body-side-right-buttons .hospedagem-content-body-side-right-buttons-bt {
          border: 0;
          border-radius: 7px;
          font-size: 20px;
          text-transform: uppercase;
          font-family: "gotham-bold", serif;
          padding: 10px;
          float: left;
          margin-right: 12px; }
        .hospedagem-content .hospedagem-content-body .hospedagem-content-body-side.hospedagem-content-body-side-right .hospedagem-content-body-side-right-buttons img {
          float: right;
          margin-top: -1px; }
      .hospedagem-content .hospedagem-content-body .hospedagem-content-body-side.hospedagem-content-body-side-right .hospedagem-content-body-side-right-footer {
        font-family: gotham-book, serif;
        font-size: 12px;
        display: block;
        margin-top: 30px; }

.interna-content {
  margin-top: 13px; }
  .interna-content .interna-content-body {
    padding: 50px 45px; }
    .interna-content .interna-content-body .interna-content-body-title {
      font-size: 30px;
      font-family: gotham-black,serif;
      text-transform: uppercase;
      margin-bottom: 20px; }
    .interna-content .interna-content-body .interna-content-body-article.carta-content {
      margin-bottom: 50px;
      margin-top: 20px; }
    .interna-content .interna-content-body .interna-content-body-article p {
      margin-bottom: 20px;
      font-size: 14px;
      line-height: 21px; }
    .interna-content .interna-content-body .interna-content-body-article .signin-bt {
      border: 0;
      border-radius: 7px;
      font-family: gotham-bold,serif;
      font-size: 14px; }
    .interna-content .interna-content-body .interna-content-body-article .informacoes-gerais-table tr td:first-child {
      font-weight: bold; }
    .interna-content .interna-content-body .interna-content-body-article .list {
      margin-bottom: 20px; }
      .interna-content .interna-content-body .interna-content-body-article .list .list-title {
        text-transform: uppercase;
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 15px; }
      .interna-content .interna-content-body .interna-content-body-article .list .list-subtitle {
        margin-bottom: 15px;
        font-size: 13px;
        line-height: 20px; }
        .interna-content .interna-content-body .interna-content-body-article .list .list-subtitle span {
          font-weight: bold;
          font-size: 14px;
          text-transform: uppercase; }
      .interna-content .interna-content-body .interna-content-body-article .list ul {
        list-style: initial;
        padding-left: 30px; }
        .interna-content .interna-content-body .interna-content-body-article .list ul li {
          font-size: 13px;
          margin-bottom: 3px; }

/*# sourceMappingURL=styles.css.map */