@font-face {
  font-family: "gotham-black";
  src: url("../fonts/gotham-black.ttf");
}

@font-face {
  font-family: "gotham-bold";
  src: url("../fonts/gotham-bold.ttf");
}

@font-face {
  font-family: "gotham-book";
  src: url("../fonts/gotham-book.ttf");
}