.footer{
  max-width: 960px;
  margin: 0 auto;
  @extend .congress-background;
  border-radius: 10px 10px 0 0;
  .footer-list-content{
    font-size: 12px;
    font-family: "gotham-book",serif;
    margin-top: 18px;
    .footer-item{
      margin-right: 30px;
      word-break: break-all;
      &:last-child{
        margin-right: 0;
      }
      .footer-item-title{

      }
      .footer-item-list{
        list-style: none;
        padding-left: 12px;
        .footer-item-list-box{
          display: inline-block;
          width: 90px;
          height: 46px;
          background-color: white;
          border-radius: 4px;
          margin-right: 7px;
          box-sizing: border-box;
          padding-top: 4px;
          img{
            width: 90%;
            display: block;
            margin: 0 auto;
          }
          &:last-child{
            margin-right: 0;
          }
        }
      }
      span{
        margin-top: 5px;
        display: block;
      }
    }
  }
  .social-content{
    text-align: right;
    margin-top: 27px;
    img{
      &:last-child{
        margin-left: 20px;
      }
    }
  }
}
