.footer{
  max-width: 960px;
  margin: 0 auto;
  @extend .congress-background;
  min-height: 106px;
  border-radius: 10px 10px 0 0;
  .footer-list-content{
    font-size: 12px;
    font-family: "gotham-book",serif;
    margin-top: 18px;
    .footer-item{
      margin-right: 30px;
      &:last-child{
        margin-right: 0;
      }
      .footer-item-title{

      }
      .footer-item-list{
        list-style: none;
        padding-left: 12px;
        .footer-item-list-box{
          display: inline-block;
          width: 65px;
          height: 34px;
          background-color: white;
          border-radius: 4px;
          margin-right: 7px;
          &:last-child{
            margin-right: 0;
          }
        }
      }
    }
  }
  .social-content{
    text-align: right;
    margin-top: 27px;
    img{
      &:last-child{
        margin-left: 20px;
      }
    }
  }
}
