.gallery-content{
  margin-top: 12px;
  margin-bottom: 7px;
  img{
    width: 100%;
    margin-top: -20%;
    display: initial !important;
  }
  .carousel-control{
    width: 5%;
  }
  .icon-prev,.icon-next{
    font-size: 100px;
    line-height: 30px;
  }
  .carousel-inner>.item{
    max-height: 298px;
  }
}
