html, body {
height: 100%;
margin: 0;
}

.wrapper {
min-height: 100%;
margin-bottom: -106px;
}

.footer,
.push {
height: 106px;
}
body{
  background-color: #EBEBEC;
}

.container-fluid{
  padding: 0;
}

.main-content{
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.percent100{
  width: 100%;
  display: inline-block;
}

.ibdisplay{
  display: inline-block;
}

.pagina-interna{
  background-color: white;
  border-radius: 10px;
}

.inline-link{
  color: #1b6d85;
  text-decoration: underline;
}
