.header-content{
  .header-side{
    &.header-side-left{
      .logo-content{
        img{
          width: 100%;
        }
      }
      .title-content{
        margin-left: -38px;
        .title-content-body{
          .title-content-title{
            text-align: center;
            font-size: 25px;
            .title-content-title-main{
              font-size: 37px;
            }
          }
        }
        .title-content-address{

        }
      }
    }
    &.header-side-right{
      .congress-bt{
        @extend .congress-background;
        border: 0;
        border-radius: 7px;
      }
      .newsletter-form-content{
        form{
          .newsletter-form-content-body{
            .main-title{

            }
            .form-group{
              label{
                display: block;
              }
              .form-control{
                width: 100%;
                max-width: 315px;
                height: 18px;
              }
              .submit-bt{
                @extend .congress-background;
                height: 18px;
                padding: 0px 10px;
                font-size: 14px;
                border: 0;
                margin-left: 6px;
                border-radius: 5px;
              }
            }
          }
        }
      }
    }
  }
}
