.information-content{
  background-color: white;
  border-radius: 10px;
  .information-item{
    .information-item-title{
      padding: 44% 0;
      text-align: center;
      color: white;
      font-size: 28px;
      font-family: "gotham-black",serif;
      &.one{
        background: url('../../images/info-bg-01.png') center center no-repeat;
        background-size: 100%;
      }
      &.two{
        background: url('../../images/info-bg-02.png') center center no-repeat;
        background-size: 100%;
      }
      &.three{
        background: url('../../images/info-bg-03.png') center center no-repeat;
        padding: 36% 0;
        background-size: 100%;
      }
      &.four{
        background: url('../../images/info-bg-04.png') center center no-repeat;
        background-size: 100%;
      }
    }
    .information-desc{
      font-family: gotham-book,serif;
      font-size: 11px;
      margin-top: 5px;
      line-height: 15px;
      padding-bottom: 20px;
    }
  }
}
