.menu-content{
  width: 100%;
  display: inline-block;
  .menu-list{
    list-style: none;
    display: flex;

    .menu-list-item{
      display: inline-flex;
      a{
        @extend .congress-background;
        font-size: 14px;
        font-family: gotham-bold,serif;
        padding: 10px 14.6px;
        &:hover{
          background: rgb(9,80,132);
        }
      }
      &:first-child{
        a{
          border-radius: 0 0 0 10px;
        }
      }
      &:last-child{
        a{
          border-radius: 0 0 10px 0;
        }
      }
    }
  }
}
